.o_list_view thead {
    background-color: #d2d2ff;
}

.custom_css table > thead > tr > th:nth-child(2) {
    width: 40%;
}
.custom_css .o_list_table thead > tr > th:not(:nth-child(2)) {
    width: 20%;
    text-align: center;
}
